.label {
    font-weight: bold;
}

.form-control {
    display: block;
    background-color: transparent;
    border: 1px solid #4D4352;
    border-radius: 0.25rem;
    font-size: 16px;
    padding: 5px 5px;
    outline: none !important;
    width: 270px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#closeHeader {
    text-align: right;
    cursor: pointer;
}

.weather-information {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    color: #4E81A5;
    align-items: center;

    .loading-weather {
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    img {
        width: 40px;
    }
}