#calendarContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#calendarView {
    display: flex;
    margin-top: 30px;
}

#calendar,
#calendarOptions {
    min-height: 80vh;
    background-color: white;
    border-radius: 0.25rem !important;
}