#developedBy {
    color: white;
    margin-top: 20px;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}