@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(circle, #744794, #8044ab, #8c3fc3, #9839db, #a42ef3);
  font-family: 'Lato', sans-serif;
}

input {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}


// Buttons

button {
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: background-color 0.15s ease-in-out;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

button:focus {
  outline: 0;
}

.button-delete {
  background-color: #E60000;
  color: white;
}

.button-add {
  background-color: #A42EF3;
  color: white;
}

.button-delete:hover {
  background-color: rgb(209, 5, 5);
}

.button-add:hover {
  background-color: rgb(151, 43, 223);
}

// Reminders
.reminder {
  margin-bottom: 10px;
  background-color: #009D87;
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem;
  word-break: normal;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  font-size: 0.92rem;
  cursor: pointer;

  span {
    display: block;
  }

  span:last-child {
    text-align: right;
    margin-top: 0.3rem;
    font-size: small;
  }
}

.reminder:last-child {
  margin-bottom: 0px;
}

.show-lg {
  display: none;
}

.show-sm {
  display: none;
}


@media (min-width: 992px) {
  .show-lg {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .show-sm {
    display: block;
  }
}